// 1. Your custom variables and variable overwrites.


// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

@import "../node_modules/uikit/src/scss/uikit.scss";

/* Variables */

$h-font: 'Merriweather', serif;
$t-font: 'Merriweather Sans', sans-serif;

$red-accent: #FA5951;
$orange-accent: #FC831E;

/* Selectors */

html, body{
  overflow-x: hidden;
}

@mixin regular_text{
  font-family: $t-font;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 30px;
}

b{
  font-weight: 400;
  color: $red-accent;
}

.say-container{
  background: $red-accent;
}

.header{
  margin-top: -80px;
}

.min-viewport{
  min-height: 100vh;
}

.say-background-primary{
  background: #fff;
}

.say-background-secondary{
  background: #FBFBFB;
}

.say-background-orange{
  background: $orange-accent;
}

.say-container-medium{
  max-width: 1360px;
}

.say-background-gradient-art{
  background: linear-gradient(to top, #cbcfda, #d8dbe4);
}

.say-background-digital{
  background-color: #EDEDED;
}

.say-padding-left-container{
  padding-left: calc((100vw - 1360px)/2);
}

.almost-middle-container{
  margin-left: 0;
}

.background-cover-video{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.project-card{
  a{
    h1{
      color: #333;
    }
    p{
      color: #666;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

ul.uk-list{
  li{
    @include regular_text;
  }
}

.white-border{
  border: 15px solid #fff;
  border-radius: 5px;
}

.header-text{
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6{
  font-family: $h-font;
  font-weight: 300;
  margin: 0;
  &.responsive{
    font-size: 32px;
  }
  &.responsive-small{
    font-size: 32px;
  }
  &.accent-primary{
    color: #333;
  }
  &.accent-secondary{
    color: #9ea0a6;
  }
  &.accent-light{
    color: #fff;
  }
  &.margin-bottom{
    margin-bottom: 20px;
  }
}

p{
  @include regular_text;
}

a{
  font-family: $t-font!important;
  text-decoration: none;
  line-height: 20px;
  text-transform: none;
  &.style-a{
    color: #fff;
    background: $red-accent;
    border-radius: 100px;
    text-transform: capitalize;
    &:hover{
      text-decoration: none;
    }
  }
  &.uk-button-text{
    text-transform: none;
  }
  &.uk-button{
    font-size: 16px;
    font-family: $t-font!important;
  }
  &.style-c{
    color: #fff;
    text-transform: none;
    &:hover{
      color: #fff;
    }
  }
  &.style-d{
    color: $red-accent;
    text-transform: none;
    background: #ffff;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
    &:hover{

    }
  }
}

#mainnav{
  .uk-navbar-nav > li > a{
    font-family: $t-font;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    color: #666;
  }

  .link-both-container{
    background: $red-accent;
    padding: 0 30px;
    line-height: 38px;
    border-radius: 200px;
    a{
      color: #fff;
      text-transform: capitalize;
      font-size: 16px;
    }
    span{
      color: $red-accent;
    }
  }

}

.service-a{
  background-image: url('./assets/components/service_a.jpeg');
}

#page-router{
  position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    z-index: 999;
  &.active{
     animation: flipOverlay 1800ms;
  }
}

.rotated-text{
  transform: rotate(270deg);
  margin-right: -80px;
  p{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

@media (min-width: 600px){
  h1,h2,h3,h4,h5,h6{
    &.responsive{
      font-size: calc(.02273*100vw + 10.72727px);
    }
    &.responsive-small{
      font-size: calc(.02273*100vw + 2.72727px);
    }
  }

  .almost-middle-container{
    margin-left: 45%;
  }

}

@media (min-width: 960px){

}
